body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(68, 255, 0);
}

h1 {
    font-size: 20rem;
    font-family: Monserrat;
}

.letter {
    transition: color 1000ms;
}