body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(0, 149, 255);
}

h1 {
    font-size: 200px;
    font-family: Monserrat;
}

.letter {
    transition: color 1000ms;
}